/* ========================= */
/* RESET */
/* ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========================= */
/* BASE */
/* ========================= */
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #0f0f0f;
  color: #f5f5f5;
}

/* Container padrão */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

/* ========================= */
/* HEADER FIXA */
/* ========================= */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(15, 15, 15, 0.9);
  backdrop-filter: blur(10px);
  padding: 20px 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(251, 251, 251, 0.05);
}

/* Classe que esconde */
.header.hide {
  transform: translateY(-100%);
  
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 1.3rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-list a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #00bcd4;
}




.container-texto {
    max-width: 800px;
    background: #0f0f0f;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(251, 251, 251, 0.05);
    margin-top: 1px;
    margin: left 75px; right: 90px;
}


/* ========================= */
/* MAIN */
/* ========================= */
main {
  padding-top: 120px; /* Espaço para compensar header fixa */
}

.section {
  margin-bottom: 80px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #1b1b1b;
  padding: 30px;
  border-radius: 12px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* ========================= */
/* FOOTER */
/* ========================= */
.footer {
  text-align: center;
  padding: 40px 0;
  background: #111;
}
